@import url('./styles.css');
/* styling for the contacts page */

#layout {
	display: grid; 
  	grid-template-columns: 300px 1fr .05fr; 
  	grid-template-rows: .1fr .8fr .1fr; 
  	gap: 0px 0px; 
  	grid-template-areas: 
        "header header header"
    	"sidebar main ."
		"sidebar footer ."; 
	height: 100vh;
    width: 100vw;
    background-color: rgba(98, 92, 96);
	color: var(--color-accent-dark);
    background-color: var(--color-main);
}

#header {
    grid-area: header;
}

#main { 
	grid-area: main;
	max-width: 90vw;
    /* forces main grid to remain in grid, without pushing on other grids as 
    overflow happens */
	min-height: 0;
}

#main table {
    width: 100%;
    /* prevents the text from jumbling and forming new lines inside cells */
    white-space: nowrap;
    table-layout: fixed;
}

#sidebar {
    grid-area: sidebar;
    background-color: aqua;
}

#table-header {
    color: var(--color-accent-light);
    background-color: var(--color-main);
    text-transform: uppercase;
}

/* "<element> > *" is used to recurisvly assign the following styling to the
   child elements in a given <element> */
#table-header, #table-content > * {
    text-align: left;
}

#table-header th, #table-content td {
    padding-top: 10px;
    padding-bottom: 10px;
}

#table-content {
    overflow-x: hidden;
    overflow-y: scroll;
}

#table-content td {
    border-bottom: solid 1px rgba(241, 237, 233, .2);
    font-size: 14px;
    font-weight: 500;
}

#table-content tr:hover {
    background-color: rgba(241, 237, 233, .2);
}