@import url('./styles.css');
/* styling for the contacts page */

#layout {
	display: grid; 
  	grid-template-columns:  1fr; 
  	grid-template-rows: .1fr .9fr .1fr; 
  	gap: 0px 0px; 
  	grid-template-areas: 
        "header"
    	"main"
		"footer"; 
	height: 100vh;
    width: 100vw;
    background-color: hsla(252, 6%, 8%, 0.2);
	color: var(--color-accent-dark);
}

button {
    height: 45px;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 600;
	color: var(--color-accent-light);
	margin: 3px;
	border-radius: 5px;
	border:1px solid hsla(30, 22%, 93%, .75);
    padding-right: 7px;
    padding-left: 7px;
}

button:hover {
    background-color: var(--color-accent-dark);
	color: white;
}

#header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

#header div > * {
    margin: 5px;
}

#header div {
    display: flex;
    align-items: center;
}

#header input {
    margin: 3px;
	height: 40px;
	width: 250px;
	margin-left: 5px;
	padding-right: 0;
	font-size: .8em;
	border-radius: 5px;
	border:1px solid hsla(252, 6%, 8%, 0.37);
}

#contactCount {
    font-size: 2.8em;
    color: hsl(30, 22%, 93%);
}

#main { 
	grid-area: main;
	max-width: 100vw;
    /* forces main grid to remain in grid, without pushing on other grids as 
    overflow happens */
	min-height: 0;
}

#main table {
    width: 100%;
    /* prevents the text from jumbling and forming new lines inside cells */
    white-space: nowrap;
    table-layout: fixed;
}

#table-header {
    color: var(--color-accent-light);
    background-color: hsla(239, 45%, 60%, .7);
    text-transform: uppercase;
    padding-left: 77px;
}

/* "<element> > *" is used to recurisvly assign the following styling to the
   child elements in a given <element> */
#table-header, #table-content > * {
    text-align: left;
}

#table-header th, #table-content td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#table-content {
    padding-left: 77px;
    border-left: 2px solid hsla(252, 6%, 8%, 0.3);
    overflow-x: hidden;
    overflow-y: scroll;
}

#table-content td {
    font-size: 14px;
}

#table-content tr:hover {
    background-color: hsla(30, 22%, 93%, 0.2);
}

#footer {
    background-color: hsla(239, 45%, 60%, 1);
    color: hsl(30, 22%, 93%);
}

#logout:hover {
    background-color: hsl(0, 78%, 55%);
}

#createContact:hover {
    background-color: hsl(214, 78%, 55%);
}