@import url('./styles.css');
:root {
	--section-padding: 22px;
	--color-wall: hsl(250, 3%, 65%);
	--max-desktop-width: 800px;
}

body {
	background-color: var(--color-wall);
}

/* styling for the main page */
#layout {
	display: grid; 
  	grid-template-columns: 40vw 1fr 420px 1fr; 
  	grid-template-rows: .05fr .9fr .05fr; 
  	gap: 0px 0px; 
  	grid-template-areas:
	  	"header header header header" 
    	"push . main ."
		"push . footer ."; 
	height: 100vh;
	color: var(--color-accent-dark);
	position: relative;
}

#header {
	grid-area: header;
}

/* max and min widths are important to keep it "mobile friendly" */
#main { 
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-area: main;
	max-width: 420px;
	min-width: 320px;
	text-align: center;
	border-radius: 30px;
}

#main h1 {
	font-size: 5.3em;
}

#main span {
	font-size: 15px;
}

#title {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	position:sticky;
	font-weight: 600;
	color: var(--color-accent-light);
}

#title span {
	text-align: center;
	justify-content: center;
	width: 100%;
	display: block;
}

#menu {
	padding-bottom: 35px;
}

#menu button {
	height: 45px;
	width: 100%;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 600;
	color: var(--color-accent-light);
	margin: 3px;
	border-radius: 5px;
	border:1px solid hsla(30, 22%, 93%, .75)
}

#menu button:hover {
	background-color: var(--color-accent-dark);
	color: white;
}

#signup {
	background-color: hsl(239, 45%, 60%);
}

#existing, #login {
	background-color: hsla(239, 50%, 54%, .2);
}

#menu form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#menu input {
	margin: 3px;
	height: 35px;
	width: 93%;
	margin-left: 5px;
	padding-right: 0;
	font-size: .8em;
	border-radius: 5px;
	border:1px solid hsla(252, 6%, 8%, 0.37);
}

#pegasus {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	width: 25%;
	position: sticky;
	background-color: hsla(30, 22%, 93%);
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 300px;
}

#footer {
	grid-area: footer;
}

#bg {
	background-color: var(--color-wall);
	background-image: url(/public/chair.jpg);
	background-attachment: fixed;
	background-size: 1366px;
	min-width: 100vw;
	min-height: 100vh;
	position: absolute;
	background-repeat: no-repeat;
	background-position: 0;
}

@media screen and (max-width: 1280px) {
	#layout {
		display: grid; 
  		grid-template-columns: 1fr 420px 1fr; 
  		grid-template-rows: .05fr .9fr .05fr; 
  		gap: 0px 0px; 
  		grid-template-areas:
		  	"header header header" 
    		". main ."
			". footer ."; 
		height: 100vh;
		color: var(--color-accent-dark);
		position: relative;
		background-color: hsla(252, 6%, 8%, 0.5);
		color: var(--color-accent-light);
	}

	#login

	#menu input {
		background-color: hsla(30, 22%, 93%);
	}

	#pegasus {
		background-color: hsla(30, 22%, 93%);
		padding-left: 30px;
		padding-right: 30px;
		border-radius: 300px;
	}

	#footer {
		padding-bottom: 20px;
	}

	#bg {
		opacity: 1;
		filter: blur(8px);
	}


}
