@import url('./styles.css');
:root {
	--section-padding: 22px;
}

/* styling for the main page */
#layout {
	display: grid; 
  	grid-template-columns: 1fr 480px 1fr; 
  	grid-template-rows: .1fr .8fr .1fr; 
  	gap: 0px 0px; 
  	grid-template-areas:
	  	"header header header" 
    	". main ."
		". footer ."; 
	height: 100vh;
	background-color: var(--color-accent-light);
	color: var(--color-accent-dark);
}

#header {
	grid-area: header;
}

/* max and min widths are important to keep it "mobile friendly" */
#main { 
	grid-area: main;
	max-width: 480px;
	min-width: 320px;
	text-align: center;
}

#main h1 {
	font-size: 5.6em;
}

#main span {
	font-size: 15px;
}

#title {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	position:sticky;
}

#menu {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}

#menu button {
	height: 35px;
	width: 320px;
	text-transform: uppercase;
	font-size: 1em;
}

#menu button:hover {
	background-color: var(--color-main);
}

#menu form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#menu input {
	height: 35px;
	width: 305px;
	font-size: .8em;
}

#pegasus {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	width: 25%;
	position: sticky;
}