/* primary style sheets used across the app */

/* With just "*", we are selecting ALL elements and giving it the following 
   properties.
*/
* {
	/* HTML tags have "hardcoded" margins and padding, I'm removing those for
	   consistant styling throughout the page. */ 
	margin: 0;
	padding: 0;

	/* prevent the user from highlighting anything */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; 	 /* Safari */
	-moz-user-select: none; 	 /* Firefox */
	-ms-user-select: none; 		 /* Edge */
	user-select: none;
}

body {
	/* prevents scrollbar */
	overflow: hidden;
}